/************************** GENERAL OTHER PAGES **************************/

* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    cursor: default;
}

:focus {
    outline: 0;
    box-shadow: 0 0 8px 3px darkred;
}

body {
    background-color: #eeeeee;

    position: relative;
    min-height: 100vh;
}

header {
    background-color: #393e46;
    overflow: hidden;
    height: 12.5rem;
    position: relative;
}

.headerHeading h1 {
    /* 16px == 100% == 1em */
    font-size: 2.81rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #222831;
    border: #222831 solid;
    border-radius: 5px;
    background-color: #eeeeee;
    padding: 15px;
}

/* NAVBAR STYLING */

.navBar {
    list-style-type: none;
    overflow: hidden;
    background-color: #222831;
}

.navBar li {
    float: left;
}

.navBar li a {
    display: block;
    color: #eeeeee;
    text-align: center;
    padding: 12.5px 12.5px;
    text-decoration: none;

    border-radius: 5px;
    margin: 5px;
}

.navBar li a:hover {
    background-color: #393e46;
    color: #00adb5;
}

.active {
    background-color: #393e46;
}

/* NAVBAR STYLING END */

main {
    padding-bottom: 4.5rem;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 100%;
    min-width: 100%;
    position: relative;
}

input,
select,
textarea {
    border-radius: 5px;
    width: 300px;
    padding: 6px 10px;
    margin: 4px 0;
    box-sizing: border-box;
    border: solid #222831;
}

button {
    border-radius: 5px;
    border: solid #222831;
    width: 100px;
    background-color: #222831;
    color: #eeeeee;
}

button:hover {
    color: #00adb5;
    cursor: pointer;
}

/* GENERAL TABLE STYLING */

table {
    border-collapse: collapse;
    width: 100%;
    cursor: default;
}

th {
    height: 70px;
}

td {
    min-width: 100px;
}

th,
td {
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #e1e1e1;
}

/* GENERAL FOOTER STYLING */

footer {
    width: 100%;

    background-color: #222831;
    color: #eeeeee;
    text-align: center;
    font-size: 12px;

    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;

    position: absolute;
    height: 2.5rem; 


}

footer a {
    color: #eeeeee;

}

footer a:hover {
    color: #00adb5;
}

.footerLink {
    margin: 10px 20px;
}

/************************** LANDING PAGE SPECIFIC **************************/

.landingPage {
    background-image: url("../images/img1.JPG");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landingPageHeadingContainer {
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 650px;
    height: 150px;
    border: #222831 solid;
    border-radius: 5px;
    background-color: #eeeeee;
    opacity: 0.75;

    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
}

.landingPageHeadingContainer h1 {
    text-decoration: none;
    color: black;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    cursor: pointer;
}

.test:focus div {
    outline: 0;
    box-shadow: 0 0 8px 3px darkred;
}

/************************** PAGE "HOME" SPECIFIC **************************/

.flexboxItem {
    margin: 5.5%;
    min-width: 400px;
    min-height: 400px;
    max-width: 400px;
    max-height: 400px;
    /* background-color: #393e46;
    border: #222831 solid;
    border-radius: 5px; */
    color: #222831;
}

.flexboxItem h2 {
    text-align: left;
    margin: 5%;
}

.flexboxItem p {
    margin: 0 5% 5%;
    text-align: left;
    line-height: 1.6em;
}

.meImg {
    max-height: 350px;
    max-width: 350px;
    margin: 5%;
    border: #222831 solid;
    border-radius: 100%;
}

.hobbies {
    margin-left: 10%;
}

.hobbyLinks {
    color: #222831;
    line-height: 1.6em;
}

.concertLink {
    color: #222831;
    line-height: 1.6em;
}

.flexboxItem.list li a:hover {
    color: #00adb5;
}

.flexboxItem blockquote {
    margin: 0 5% 5%;
    text-align: left;
    line-height: 1.6em;
    font-style: italic;
}

/************************** PAGE "CV" SPECIFIC **************************/

.flexboxItemCv {
    margin: 5%;
    color: #222831;
    line-height: 1.6em;
    text-align: left;
}

.flexboxItemCv h2:hover {
    cursor: default;
}

.activity {
    min-width: 75%;
}

/************************** PAGE "CONTACT" SPECIFIC **************************/

.flexboxItemContact {
    margin: 2.5%;
    color: #222831;
    line-height: 1.6em;
    text-align: center;
}

#confirmTerms {
    width: 15px;
    height: 13px;
}